body {
  background: url("/src/assets/Background.png") no-repeat center fixed;   
  background-size: cover;
  color: aliceblue;
}

 th{
  border-bottom-style: solid;
}

th, td {
  padding: 10px;
  text-align: center;
}


.frontpage-top-div{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.frontpage-menu {
  display: inline-block;
  margin-left: 20px;
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 25px;
  min-height: 200px;
  min-width: 200px;
  
}

