body {
	color: #fff;
	margin: 2em;
	background-color: #636e72;
	font-family: helvetica, arial, sans-serif;
}

.bracket {
	display: flex;
	width: 1000px;
}


.stage {
	display: flex;
	margin-right: 30px;
	
	flex-direction: column;
	justify-content: space-around;
}

.match {
	align-self: center;
	margin: 15px 0;
	overflow: hidden;
	border-radius: 5px;
	width: 303px;
}

.team {
	color: #fff;
	padding: 10px 8px;
	background-color: #0c5b66;
}

.return-button{
	align-self: center;
}

.bracket-button{
	width: 303px;
	align-self: center;
}

.team:nth-child(odd) {
	border-bottom: 1px solid #8fc7ff;
}