body {
	color: #fff;
	margin: 2em;
	background-color: #636e72;
	font-family: helvetica, arial, sans-serif;
}

.bracket {
	display: flex;

	justify-content: center;
	margin-bottom: 5%;
}


.stage {
	display: flex;
	margin-right: 30px;
	
	flex-direction: column;
	justify-content: space-around;
}


.match {
	align-self: center;
	margin: 15px 0;
	overflow: hidden;
	border-radius: 5px;
	width: 303px;
}

.team {
	color: #fff;
	padding: 10px 8px;
	border: 10px 8px ;
	border-color: #0c5b66;
	background-color: #0c5c6680;
	border-style: solid;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.clear {
	clear: both;
}

.teamWinner{
	color: #fff;
	padding: 10px 8px;
	background-color: #0f7481;
	border: 10px 8px ;
	border-color: #16aec2;
	border-style: solid;
	background-color: url("../src/assets/trophy-solid.png");
}


.trophy{
	background-color: url("../src/assets/trophy-solid.png");
  }

.return-button{
	margin: 0;
  position: absolute;
  left: 4%;
  top: 10%;
  -ms-transform: translate( -50%);
  transform: translate( -50%);
}

.bracket-button{
	width: 303px;
	align-self: center;

}

.team:nth-child(odd) {
	border-bottom: 1px solid #8fc7ff;
}