.signup-h1{
color: black;
}

.sign-up-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    border-radius: 8px;
    padding: 20px 40px;
  }
  .form{
    min-width: 50%;
  }
 
  
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .inputContainer {
    position: relative;
    min-height: 45px;
    min-width: 100%;
    margin-bottom: 17px;
  }
  .input {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #dadce0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  /* Hide the placeholder texts (a) */
  
  /* ::placeholder {
    color: transparent;
  } */
  
  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #f3f5fa;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }
  .input:focus {
    border: 2px solid purple;
  }
  .input:not(:placeholder-shown) + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }